* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link{
    text-decoration: none;
    color: #fff;
}

.navbar-contacts{
    text-align: right;
}

.navbar-text{
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar-phone {
    font-weight: 700px;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}

main{
    max-width: 1280px;
    margin: auto;
    margin-top: 54px;
}

svg path{
    opacity: 0;
}

svg path:hover{
    opacity: 1;
    cursor: pointer;
}

.current-floor{
    opacity: 1;
}

main{
    display: flex;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.counter-down{
    transform: rotateX(180deg);
}

.main-title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px; 
    color: #635854; 
}

.counter{
    color: #635854; 
    font-family: "Bebas Neue", sans-serif;
    font-size: 124px;
}

.button-primery{
    background: #3596F5;
    border-radius: 6px; 
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog{
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
}

.modal-image {
    background: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}

.modal-title{
    margin-top: 0;
    font-family: Bebas Neue;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.modal-info{
    width: 40%;
    padding: 50px 46px;
}

.flat-list{
    padding: 0;
    margin-top: 55px;
}

.flat-item{
    list-style: none;
    margin-bottom: 10px;
}

.flat-link{
    text-decoration: none;
    color: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.flat-link:hover{
    color: #3596F5;
    text-decoration: underline;
}

.flat-link-hover{
    color: #3596F5;
    text-decoration: underline;
}

.modal-alert{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}

.modal-close-button{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    background-color: #fff;
    border: none;
    margin: 38px 27px;
}

.model-path{
    opacity: 1;
}